@page
@model EmployeeHub.Pages.Departments.ViewDepartmentModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
}

<h3>Departments</h3>

<hr/>
@if (User.IsInRole("Admin"))
{
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-outline-primary" asp-page="/Departments/AddDepartment"><i class="fas fa-plus"></i>  Add Department</a>
    </div>
}


<br/> <br/>

<table class ="table">
    <thead>
        <tr>
            <Th>
                Name
            </Th>
            <Th>
                Description
            </Th>
            <Th>
                Contact Information
            </Th>
            <Th>
                Address
            </Th>
        </tr>
    </thead>
    <tbody>
        @foreach(var department in Model.departments){
            <tr>
                <td>
                    @department.Name
                </td>
                <td>
                    @department.Description
                </td>
                <td>
                    @department.ContactInformation
                </td>
                <td>
                    @department.Address
                </td>
            </tr>

        }
    </tbody>
</table>