<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeHub.styles.css" asp-append-version="true" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sidebar template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/css/bar.css" rel="stylesheet" />

</head>
<body>
    <style>
        .logo {
            width: 200px;
            height: 200px;
        }
    </style>

    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!-- <a class="navbar-brand" asp-area="" asp-page="/Index">EmployeeHub</a> // هذا اللي فوق بالبار --> 
            </div>
        </nav>
    </header>

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <div id="close-sidebar">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            <!--
                <div class="sidebar-brand">
                    <a asp-area="" asp-page="/Index">EmployeeHub</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                -->
                <div class="sidebar-brand">
                    <img src="~/resource/KAFDLogo.jpg" alt="Logo" class="logo">
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li>
                            <a asp-area="" asp-page="/Index">
                                <i class="fas fa-home"></i>
                                <span>Home</span>
                                </a>
                        </li>

                        <li>
                            <a asp-area="" asp-page="/Privacy">
                                <i class="fas fa-sitemap"></i>
                                <span>Departments</span>
                            </a>
                        </li>
                        
                        
                        <li>
                            <a href="#">
                                <i class="fas fa-address-book"></i>
                                <span>Employees</span>
                            </a>
                        </li>
                    </ul>
                    <br /><br /><br/>
                    <partial name="_LoginPartial" />

                </div>
                <!-- sidebar-menu  -->
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                @RenderBody()

            </div>

        </main>


        <!-- page-content" -->
    </div>
    
   

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });
        </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>